asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
codecov==2.0.17
constantly==15.1.0
coverage==4.5.1
cryptography==2.3.1
cssselect==1.0.3
Flask==1.0.2
Flask-Cors==3.0.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.11.3
lxml==4.2.1
MarkupSafe==1.0
more-itertools==4.2.0
numpy==1.15.2
pandas==0.23.4
parsel==1.4.0
pluggy==0.6.0
py==1.5.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==18.0.0
pytest==3.6.0
pytest-cov==2.5.1
pytest-flask==0.10.0
python-dateutil==2.7.3
pytz==2018.5
queuelib==1.5.0
requests==2.20.0
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
Twisted==18.4.0
urllib3==1.25.9
w3lib==1.19.0
Werkzeug==0.14.1
zope.interface==4.5.0
